.content_overlay_html {
    /* set css for content overlay page html */
}
.content_overlay_body {
    /* set css for content overlay page body */
}

iframe#content_bar_iframe {
    opacity: 0; /* set opacity to 0 before showing, to get height from iframe */

    width: 100%;

    z-index: 9999999;
    overflow: hidden;

    margin: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}