/* bootstrap overrides */
.btn:focus {
    box-shadow: none !important;
}

/* general css overrides */
body {
    background-color: #fafafa;
    box-shadow: inset 0 -10px 10px -10px #444444;
}
body.bottom_bar {
    box-shadow: inset 0 10px 10px -10px #444444;
}
body.transparent_bar {
    background-color: transparent;
    box-shadow: inset 0 10px 10px -10px #111111;
}
body.transparent_bar:not(.bottom_bar):not(.minimized_bar) {
    box-shadow: inset 0 -10px 10px -10px #111111;
}
body.minimized_bar {
    background-color: transparent;
    box-shadow: initial;
}

a:hover {
    text-decoration: none;
}

/* other styles */
.display_none {
    display: none !important;
}

/* content bar styles */
.container-fluid {
    padding-left: 24px;
    padding-right: 24px;
}

.row {
    min-height: 38px;
}
.row.big_buttons {
    min-height: 44px;
}

#content_bar .row > div {
    padding-left: 5px;
    padding-right: 5px;
}

#content_bar .content_logo {
    padding-right: 0px !important;
}
#content_bar .content_logo img {
    height: 30px;
}

#content_bar .content_score,
#content_bar .content_subreddit {
    font-size: 14px;
}

.content_maximize_transparent_fix {
    background-color: rgb(240, 240, 240);
}