/* bootstrap overrides */
.btn:focus {
    box-shadow: none !important;
}

/* general css overrides */
a:hover {
    text-decoration: none;
}

/* other styles */
.display_none {
    display: none !important;
}

.light_theme {
    background-color: #fafafa;
}
.dark_theme {
    background-color: #2a2a2a;
}
.transparent_background {
    background-color: transparent;
}
.box_shadow_bottom {
    box-shadow: inset 0 -10px 10px -10px #111111;
}
.box_shadow_top {
    box-shadow: inset 0 10px 10px -10px #111111;
}
.box_shadow_initial {
    box-shadow: initial;
}

/* content bar styles */
.container-fluid {
    padding-left: 24px;
    padding-right: 24px;
}

.row {
    min-height: 38px;
}
.row.big_buttons {
    min-height: 44px;
}

#content_bar .row > div {
    padding-left: 5px;
    padding-right: 5px;
}
#content_bar .content_logo {
    position: relative;
}
#content_bar .content_logo .reddit_logo {
    position: relative;
    color: #ff5700;

    z-index: 2;
}
#content_bar .content_logo .reddit_logo_helper {
    position: absolute;
    color: white;
    left: 6px;
    top: 2px;
    font-size: 1.5em;

    z-index: 1;
}
#content_bar .content_score,
#content_bar .content_subreddit {
    font-size: 14px;
}

#maximize_bar .row > div {
    margin-left: 2.5px;
    margin-right: 2.5px;
}
#maximize_bar .content_maximize i {
    font-size: 1.3em;
}

.content_maximize_transparent_fix {
    border-radius: .2rem;
}
