iframe#content_bar_iframe {
    opacity: 0; /* set opacity to 0 before showing, before getting height from iframe */

    width: 100%;

    z-index: 9999999;
    overflow: hidden;

    margin: 0;

    position: fixed;
    left: 0;
    right: 0;
}
iframe#content_bar_iframe.iframe_top {
    top: 0;
}
iframe#content_bar_iframe.iframe_bottom {
    bottom: 0;
}