body {
    padding-top: 30px; 
}

iframe#reddit_bar {
    display: block !important;

    height: 30px;
    width: 100%;

    background: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(196, 196, 196);
    box-shadow: 0 0px 1px rgba(100,100,100,.25);

    z-index: 9999999;
    overflow: hidden;

    margin: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

html, iframe#reddit_bar {
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .15s;
}